@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P', cursive;
	background-color: rgb(46, 44, 44);
}

/* ---------------------------------------------------------- */

.main-container {
	width: 100vh;
	margin: 2em auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------------------------------------------------------- */

.header {
	margin-bottom: 2em;
}

.header,
.middle-container {
	font-size: 2em;
	letter-spacing: 16px;
	text-align: center;
	color: white;
	text-shadow: 4px 4px 8px black;
}

.middle-container button {
	font-family: 'Press Start 2P', cursive;
	font-size: 0.75em;
	letter-spacing: 5px;
	margin-top: 2em;
	padding: 0.75em 1em;
	border: 3px solid black;
	border-radius: 30px;
	box-shadow: 3px 3px 0px black;
	background-color: yellow;
	transition: 0.2s;
}

.middle-container button:hover {
	cursor: pointer;
}

/* ---------------------------------------------------------- */

.players-container {
	display: flex;
	align-items: center;
	gap: 8em;
}

.player-1,
.player-2 {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 8px rgb(190, 182, 182);
	transition: 0.5s;
	background-color: white;
}

.player-1:hover,
.player-2:hover {
	box-shadow: 0 0 16px rgb(190, 182, 182);
}

.player-1 p,
.player-2 p {
	letter-spacing: 8px;
	margin-bottom: 0.5em;
}

.player1-color,
.player2-color {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.25em 0;
}

.player-1 input,
.player-2 input {
	width: 3em;
	height: 3em;
	border: none;
	box-shadow: 2px 1px 4px black;
	transition: 0.2s;
}

.player-1 input:hover,
.player-2 input:hover {
	cursor: pointer;
}

/* ---------------------------------------------------------- */

.game-container {
	margin-bottom: 2em;
}

#board {
	box-shadow: 0 0 8px white;
}

#board tr:first-child td {
	width: 50px;
	height: 50px;
	border: 2px dashed white;
}

#board tr td {
	width: 50px;
	height: 50px;
	border: 2px solid white;
	position: relative;
}

.gamePiece {
	margin-left: 2.5px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: absolute;
	bottom: 3px;
}

/* ---------------------------------------------------------- */

.gameOver {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 4em;
	padding: 4em;
	border-radius: 10px;
	background-color: rgb(43, 40, 40);
	box-shadow: 0 0 24px rgb(0, 0, 0);
}

.gameOver-container h1 {
	color: white;
	text-shadow: 4px 4px 2px rgb(10, 10, 10);
	margin-bottom: 2em;
	letter-spacing: 5px;
}

.gameOver-container a {
	color: white;
	padding: 1em;
	text-decoration: none;
	border: 2px solid rgb(243, 243, 243);
	border-radius: 10px;
	text-shadow: 0 0 5px rgb(7, 7, 7);
	box-shadow: 0 0 10px rgb(219, 219, 219);
}

.gameOver-container a:hover {
	background-color: white;
	color: rgb(43, 40, 40);
	text-shadow: 1px 1px 1px black;
	box-shadow: 0 0 12px rgb(240, 198, 11);
}

/* ---------------------------------------------------------- */

@media (max-width: 1200px) {
	.players-container {
		gap: 4em;
	}
	.img {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 975px) {
	.middle-container button {
		font-size: 0.5em;
	}
	.players-container {
		gap: 2em;
	}
	.player-1 input,
	.player-2 input {
		width: 2.5em;
		height: 2.5em;
	}
}

@media (max-width: 850px) {
	.main-container {
		width: 100%;
		margin-bottom: 1.5em;
	}
	.middle-container p {
		margin-top: 0;
	}
	.middle-container button {
		font-size: 0.75em;
	}
	.players-container {
		flex-direction: column;
		gap: 4em;
	}
	.img {
		width: 350px;
		height: 350px;
	}
	.gameOver-container {
		padding: 3em;
	}
	.gameOver-container h1 {
		font-size: 1.5em;
	}
}
